{% extends 'base.html.twig' %}

{% block title %}Poster Printing Center!{% endblock %}

{% block body %}
    <div class="banner">
        <h1>Geeps Poster Printing Center</h1>
    </div>
    <div class='container'>
        <form>
            <input type="text" placeholder="Votre Nom" /> 
            <input type="text" placeholder="Votre Prénom" />
            <input type="text" placeholder="Votre Nom" />  
        </form>
        {{ form(form) }}
    </div>
{% endblock %}
