{% extends 'base.html.twig' %}

{% block title %}Poster Printing Center!{% endblock %}

{% block stylesheet %}  
    <link rel="stylesheet" href="../public/css/bootstrap.css">
{% endblock %}

{% block body %}
    <div class="banner">
        <h1>Geeps Poster Printing Center</h1>
    </div>

    <div id="formulaire" name="formulaire">
        {{ form(form) }}
    </div>
{% endblock %}
